<!DOCTYPE html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="/styles.css" rel="stylesheet">
        <link href="/favicon.ico" rel="icon" type="image/x-icon">
        <title>My vault</title>
    </head>
    <body class="w-screen h-screen py-8 ">
        <div class="container w-9/12 h-full mx-auto">
            <h1 class="mb-1 text-2xl">My account</h1>
            <hr>

            <form class="flex flex-col py-4" action="/settings/update" method="POST">
                <label for="" class="text-sm font-semibold ">Email address</label>
                <input class="w-4/12 mt-1 mb-4 text-lg border-2 border-black border-opacity-10" name="email" type="email">
            
                <label for="" class="text-sm font-semibold ">Your name</label>
                <input class="w-4/12 mt-1 mb-4 text-lg border-2 border-black border-opacity-10" name="name" >
                                         
                <label for="" class="text-sm font-semibold ">Master password hint</label>
                <input class="w-4/12 mt-1 mb-4 text-lg border-2 border-black border-opacity-10" name="master_password_hint" type="password">
               
            
                <hr class="mt-6">
                <button class="w-32 p-1 mt-4 font-semibold text-white bg-red-600 hover:bg-red-700 sm:w-36 lg:w-48 xl:w-40"><a>Update</a></button>
                
              </form>
        </div>
    </body>
</html>
