<!DOCTYPE html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="/styles.css" rel="stylesheet">
        <link href="/favicon.ico" rel="icon" type="image/x-icon">
        <title>Password hint</title>
    </head>
    <body class="w-screen h-screen py-8 bg-gray-200">
        <div class="container w-full h-full px-12 mx-auto">
            <div class="grid h-full grid-cols-12 grid-rows-6 ">
                <div class="flex items-start justify-center h-8 col-span-6 col-start-4 sm:col-start-5 sm:col-span-4">
                    <h3 class="text-2xl md:text-3xl">Password hint</h3>
                </div>
                <div class="h-full col-span-10 col-start-2 -mt-10 sm:col-start-3 sm:col-span-8 md:col-start-4 md:col-span-6 lg:col-start-5 lg:col-span-4 xl:col-start-5 xl:col-span-4">
                    <div class="p-4 bg-white">
                        <% if(success.length > 0) { %>
                            <div class="p-2 mb-2 text-sm text-center text-green-700 bg-green-100 rounded-lg dark:bg-green-200 dark:text-green-800" role="alert">
                                <span class="font-medium"><%= success %></span>
                              </div>
                            <%  } %>
                            <% if(error.length > 0) { %>
                                <div class="p-2 mb-2 text-sm text-center text-green-700 bg-green-100 rounded-lg dark:bg-green-200 dark:text-green-800" role="alert">
                                    <span class="font-medium"><%= error %></span>
                                  </div>
                             <%  } %> 
                        <form action="/password_hint" method="POST">
                            <label for="" class="text-sm font-semibold ">Email address</label>
                            <input class="w-full mt-2 border-2 border-black border-opacity-10" type="email" name="email">
                            <p class="mb-2 text-xs text-gray-500">Enter your email address to receive your master password hint</p>
                            <hr class="mt-6">
                            <div class="flex flex-row justify-between mt-4">
                                <button class="w-32 p-1 font-semibold text-white bg-red-600 hover:bg-red-700 sm:w-36 lg:w-32 xl:w-40"><a>Submit</a></button>
                                <button class="w-32 p-1 font-semibold border-2 border-black border-opacity-25 hover:bg-gray-400 opacity-60 sm:w-36 lg:w-32 xl:w-40"><a href="./">Cancel</a></button>
                            </div>
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

