<!DOCTYPE html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="public/styles.css" rel="stylesheet">
        <title>Register</title>
    </head>
    <body class="w-screen h-screen py-8 bg-gray-200">
        <div class="container w-full h-full px-12 mx-auto">
            <div class="grid h-full grid-cols-12 grid-rows-6 ">
                <div class="flex items-start justify-center h-8 col-span-6 col-start-4 sm:col-start-5 sm:col-span-4">
                    <h3 class="text-xl md:text-2xl">Create account</h3>
                </div>
                <div class="h-full col-span-10 col-start-2 -mt-14 sm:col-start-3 sm:col-span-8 md:col-start-4 md:col-span-6 xl:col-start-5 xl:col-span-4">
                    <div class="p-4 bg-white">
                        <form class="">
                            <label for="" class="text-sm font-semibold">Email address</label><br>
                            <input class="w-full border-2 border-black border-opacity-10">
                            <p class="text-xs text-gray-500 lg:mb-2">You'll use your email address to log in.</p>
                            <label for="" class="text-sm font-semibold">Your name</label><br>
                            <input class="w-full border-2 border-black border-opacity-10">
                            <p class="text-xs text-gray-500 lg:mb-2">What should we call you?</p>
                            <label for="" class="text-sm font-semibold">Master password</label><br>
                            <input class="w-full border-2 border-black border-opacity-10">
                            <p class="text-xs text-gray-500 lg:mb-2">The master password is the password you use to access your vault. It is very important that you do not forget your master password. There is no way to recover the password in the event that you forget it.</p>
                            <label for="" class="text-sm font-semibold">Re-type master password</label><br>
                            <input class="w-full mb-2 border-2 border-black border-opacity-10"><br>
                            <label for="" class="text-sm font-semibold">Master password hint(optional)</label><br>
                            <input class="w-full border-2 border-black border-opacity-10">
                            <p class="text-xs text-gray-500 lg:mb-2">A master password hint can help you remember your password if you forget it.</p>
                            <hr class="mt-6">
                            <div class="flex flex-row justify-between mt-4">
                                <button class="w-32 p-1 font-semibold text-white bg-red-600 hover:bg-red-700 sm:w-36 lg:w-48 xl:w-40"><a>Submit</a></button>
                                <button class="w-32 p-1 font-semibold border-2 border-black border-opacity-25 hover:bg-gray-400 opacity-60 sm:w-36 lg:w-48 xl:w-40"><a href="index.html">Cancel</a></button>
                            </div>
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>