<!DOCTYPE html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="/styles.css" rel="stylesheet">
        <link href="/favicon.ico" rel="icon" type="image/x-icon">
        <title>My vault</title>
    </head>
    <body class="w-screen h-screen py-8 ">
        <div class="container w-9/12 h-full mx-auto">
            <div class="flex flex-row justify-between">
                <% if(authenticated_user){ %>
                    <h1 class="text-2xl">Welcome, <%= authenticated_user.name %></h1>
                <%} %>
                <% if(update_success.length > 0) { %>
                    <div class="p-2 mb-2 text-sm text-center text-green-700 bg-green-100 rounded-lg dark:bg-green-200 dark:text-green-800" role="alert">
                        <span class="font-medium"><%= update_success %></span>
                      </div>
                <%  } %> 
                <button id="dropdownInformationButton" data-dropdown-toggle="dropdownInformation" data-dropdown-placement="bottom-end" class="flex" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="red" stroke="red" viewBox="0 0 448 512"><path d="M272 304h-96C78.8 304 0 382.8 0 480c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32C448 382.8 369.2 304 272 304zM48.99 464C56.89 400.9 110.8 352 176 352h96c65.16 0 119.1 48.95 127 112H48.99zM224 256c70.69 0 128-57.31 128-128c0-70.69-57.31-128-128-128S96 57.31 96 128C96 198.7 153.3 256 224 256zM224 48c44.11 0 80 35.89 80 80c0 44.11-35.89 80-80 80S144 172.1 144 128C144 83.89 179.9 48 224 48z"/></svg>
                    <svg class="w-8 h-8 -mt-1" fill="red" stroke="red" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
                </button>

                <div id="dropdownInformation" class="z-10 hidden text-base list-none bg-white divide-y divide-gray-100 rounded shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                    <div class="px-4 py-3 text-gray-900 dark:text-white">
                        <span class="block text-sm">Logged in as</span>
                        <span class="block text-sm font-medium truncat"><%= authenticated_user.name %></span>
                    </div>
                    <ul class="py-1" aria-labelledby="dropdownInformationButton">
                        <li>
                            <a href="<%= `/${authenticated_user._id}/edit_user` %>" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">My account</a>
                        </li>
                    </ul>
                    <div class="py-1">
                         <a href="./logout" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Log out</a>
                    </div>
                </div>

            </div>
          
            
            <div class="grid h-full grid-cols-10 grid-rows-4 gap-10 pt-10">
                <div class="flex flex-col col-span-3 row-span-3 bg-white border border-black border-opacity-30">
                    <div class="flex items-center justify-center h-12 bg-gray-300 bg-opacity-50 border-b-2 border-gray-300">
                        <h1 class="font-semibold uppercase ">Filters</h1>
                    </div>
                    <input class="pl-1 mt-6 text-xs border-2 border-black h-7 border-opacity-10 sm:text-center md:mx-2 md:text-base" placeholder="Search Vault">
                    <div class="flex flex-col items-center mt-10 ">
                        <h1 class="mb-3 font-semibold">Types</h1>
                        <ul class="">
                            <li><a class="uppercase" href="#">d_absa</a></li>
                            <li><a href="#">Sessions</a></li>
                            <li><a class="uppercase" href="#">sap</a></li>
                            <li><a href="#">Client</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-span-7 row-span-3 bg-white "> 
                    <div class="flex justify-between">
                        <h1 class="text-xl font-semibold sm:text-2xl">My Vault</h1>
                            <button class="w-24 p-1 text-sm font-semibold text-white bg-red-600 hover:bg-red-700 sm:w-36 sm:text-base" type="button" data-modal-toggle="authentication-modal">
                            Add item
                            </button>
                            
                            <div id="authentication-modal" aria-hidden="true" class="fixed left-0 right-0 z-50 items-center justify-center hidden overflow-x-hidden overflow-y-auto top-4 h-modal md:h-full md:inset-0">
                                <div class="relative w-full h-full max-w-md px-4 md:h-auto">
                                
                                    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                        <div class="flex justify-between px-4 py-2">
                                            <h3 class="text-xl font-medium text-gray-900 dark:text-white">Add Item</h3>
                                            <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-toggle="authentication-modal">
                                                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                                            </button>
                                        </div>
                                        <hr>
                                        <form class="px-6 pt-4 pb-4 lg:px-8 sm:pb-6 xl:pb-8">                    
                                            <label>Application Name</label>
                                            <input class="w-full mb-2 border-2 border-black border-opacity-10" name="app_name">
                                            <label>Username</label>
                                            <input class="w-full mb-2 border-2 border-black border-opacity-10" name="username">
                                            <label>Password</label>
                                            <input class="w-full mb-2 border-2 border-black border-opacity-10" name="password" type="password">
                                            <label>Confirm password</label>
                                            <input class="w-full mb-2 border-2 border-black border-opacity-10" name="confirm_password" type="password">
                                            <div class="flex flex-row justify-between mt-4">
                                                <button class="p-1 font-semibold text-white bg-red-600 hover:bg-red-700 w-28" type="submit"><a>Save</a></button>
                                                <button class="p-1 font-semibold border-2 border-black border-opacity-25 hover:bg-gray-400 opacity-60 w-28"  id="modal_cancel" onclick="hide_modal()"><a href="/vault_landing_page">Cancel</a></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        <!-- <button class="w-24 p-1 font-semibold text-red-600 bg-gray-100 border border-black border-opacity-10 hover:bg-red-600 hover:text-white sm:w-32 lg:w-36" onclick="show_modal()"><a id="add_password_one" class="text-sm lg:text-base" >Add item</a></button> -->
                    </div>
                    <hr class="mt-1">
                    <div class="flex flex-col justify-between h-20 mt-4">
                        <p>There are no items to list</p>
                        <!-- <button class="w-24 p-1 font-semibold text-red-600 bg-gray-100 border border-black border-opacity-10 hover:bg-red-600 hover:text-white sm:w-32 lg:w-36" onclick="show_modal_two()"><a id="add_password_two" class="text-sm lg:text-base">Add item</a></button> -->
                    </div>
                </div>
                
            </div>
  
        </div>
        <script src="/jquery.min.js"></script>
        <script src="/flowbite/dist/flowbite.js"></script>
        <script src="/password_handler.js"></script>
    </body>
</html>
